@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900,200);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);




/*breadcrumb메뉴*/


.row.row-broken {
	padding-left: 130px;
	
}

/*메뉴 조정*/

@media (max-width:800px){
	.row.row-broken {
	padding-left: 86px;
	}	
}

@media (max-width:780px){
	.row.row-broken {
	width:80%;
	margin-left: 20px;
	}	
}

.row {
	margin:0 -20px 20px -20px;
	padding-bottom: 20px;
}

.row:before,
.row:after {
	content:"";
	display: table;
	clear: both;
}

.row.row-broken > div[class*='col-'] {
	padding-top: 0;
	padding-left: 0;
}

.row.row-broken > div[class*='col-']:last-child{
	padding-right: 0;
}

@media (max-width: 1200px){
	.row.row-broken .col-md-12:last-child{
		padding-bottom: 0;
	}
}

/*breadcrumb*/

.breadcrumb {
	border-radius: 0;
	background-color: transparent;
	margin-bottom: 0;
	box-shadow: 1px 0px 12px 1px #E0E0E0;
	list-style: none;
}

.breadcrumb li {
	font-size: 18px;
	font-weight: 600;
	color: #00BCD4;
	display: inline-block;
}

.breadcrumb li a {
	text-decoration: none;
	background-color: transparent;
	color: #00BCD4;
}

.breadcrumb li i{
	font-size: 22px;
}

.breadcrumb > .active {
	color: #777777;
}

.breadcrumb li + li:before {
	content: "\f054";
	font-family: "FontAwesome";
	font-size: 14px;
	padding: 0 10px;
	color: #00BCD4;
	vertical-align: text-top;
}

@media (width:866px){
	.table_container{
		width: 60%;
		margin-left: 20px;
		}
}

/*등록창 - 미디어 쿼리*/

@media only screen and (min-width: 240px){
	h1{
		font: 500 200%/100% Ubuntu;
		margin: 0 0 30px 10px;
	}
	label{
		display: block;
		margin: 0 0 10px 10px;
	}
	#contact label{
		width: 23%;
		font-size: 150%;
		text-align: left;
	}
	#contact input{
		width: 94.3%;
		font-size: 100%;
		margin-left: 10px;
	}
	#contact .button{
		margin-left: 10px;
		font-size: 130%;
	}
}

@media only screen and (min-width: 480px){
	h1{
		font: 500 160%/100% Ubuntu;
		margin: 0 0 20px 10px;
	}
	label,
	input{
		display: inline-block;
	}
	#contact label{
		font-size: 100%;
		width: 20%;
		text-align: right;
	}
	#contact label[for=message]{
		vertical-align: top;
	}
	#contact input{
		width: 66.6667%;
	}
	#contact .button{
		margin-left: 24%;
		font-size: 90%;
	}
}

/*등록창*/

.res_wrapper{
	border: 3px solid #EEEEEE;
	width: 80%;
	margin-left: 150px;
	font-family: Ubuntu;
	font-weight: 400;
	color: #666;
}

@media (max-width: 809px){
	.res_wrapper{
		margin-left: 80px;
	}
}

.res_container {
	
	max-width: 600px;
	margin: 3.33334% auto;
	
}

.line {
	clear: both;
	padding: 15px 0;
	border-top: 1px solid #EBEBEB;
}

#contact input {
	color: #666;
	box-sizing: border-box;
	border: 1px solid #CCC;
	border-radius: 3px;
	padding: 5px 8px;
	height: 40px;
}

#contact input:focus {
	outline: none;
	box-shadow: inset 1px 2px 3px #CCC;
}

#contact .button {
	border: 1px solid #1A4F82;
	padding: 8px 15px;
	border-radius: 3px;
	color: #CFE6FC;
	font-family: Ubuntu;
	font-weight: 300;
	background-color: #1A4F82;
	background-image: linear-gradient(#215F9C, #1A4F82);
	-o-background-image: linear-gradient(#215F9C, #1A4F82);
	cursor: pointer;
}

#contact .button:hover {
	-webkit-transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
	background-image: linear-gradient(#2B75BD, #1F5F9C);
	-o-background-image: linear-gradient(#2B75BD, #1F5F9C);
	color: #FFF;
	box-shadow: 2px 2px 3px #999;
}

